<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>body {background: white;}</style>
</head>
<body>

{% if form.non_field_errors %}
{% include 'includes/errors.html' with errors=form.non_field_errors %}
{% endif %}

<div class="justify-content-center align-items-center row" style="height: 600px;">
  <div class="col-sm-3 align-middle">
    <form method="post" class="mt-3">
      <h1>SHORTLINK CREATOR</h1>
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="id_longlink" name="longlink" placeholder="Enter here long link" required value={{ longlink }} >
          <button type="submit" class="btn btn-primary btn-block">Create</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="alert alert-success mx-auto" id="id_short1link" name="shortlink" role="alert">
            Short Link: {{ shortlink }}
        </div>
      </div>
    </form>
  </div>
</div>
</body>
